<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
  <h1>Technology Tracker - Home</h1>
  
  <ul>
    <li><a href="#" th:href="@{/newTechnology}">Add New Technology</a></li>
    <li><a href="#" th:href="@{/allTechnologies}">View All Technologies</a></li>
  </ul>
  
</body>
</html>